    body {
        background-image: url(exclusive_paper.png);
    } 
  #wrapper {
            	max-width: 960px;
            	margin: auto;
         }
  header {
                background-color:rgb(60, 0, 0);
                color:white;
                text-align:center;
                padding:30px;
            }
            section {
                margin-left: 30%;
            	padding-bottom: 50px;
            }
            footer {
                background-color:rgb(60, 0, 0);
                color:white;
                padding:10px 0;
                width: 960px;
                margin: auto;
                position:absolute;
                bottom:0;
           }
            aside {
               float: left;
                  }
            .side-menu li {
	display: block;
	margin: 10px;
            }
    .side-menu a {
	color: #999999;
}
    aside a {
        text-decoration: none;
    }
    nav a {
	text-decoration: none;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 12px 'Tahoma', sans-serif;
	padding: 5px;
	
}

.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

.top-menu .active {
	background: rgb(60,0,0);
	color: white;
}

.top-menu a {
	color: #b2b2b2;
}
